doctype html
html(lang='zh-Hant')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery-3.2.1.min.js')
  body
    div(class='container')
      form(action='add_member', method='post')
        div(class='form-group')
          label 姓名：
          input(type='name' name='name')
        div(class='form-group')
          label 性別：
          select(class='gender' name='gender')
            option 男
            option 女
        input(type='submit', value='送出')
